api-gateway/.idea
api-gateway/.mvn
api-gateway/volume-data
api-gateway/target

inventory-service/.idea
inventory-service/.mvn
inventory-service/mysql
inventory-service/target

microservices-shop-frontend/.vscode

notification-service/.idea
notification-service/.mvn
notification-service/target

order-service/.idea
order-service/.mvn
order-service/target
order-service/mysql


product-service/.idea
product-service/.mvn
product-service/target
product-service/data